body{
	background-image: url('../Photo/com.jpg');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
}

.title{
	text-align: center;
	color:white;
	text-shadow: -10px -5px 4px black;
}

.legend{
	color:yellow;
	margin-left:1050px;
	font-family:Hobo Std;

}

.legend2{
	color: yellow;
	margin-left:1061px;
	font-family:Hobo Std;
}

.continar{
	width: 450px;
	height:300px;
	background: rgba(0 ,0 ,0 ,0.5);
	border: 2px dotted white ;
	margin-top:20px;
	margin-left: 400px;
	margin-bottom: 50px;
}

.li{
	text-align: center;
	color:white;
	font-size: 19px;
	font-weight: bold;
	text-shadow: -10px -5px 4px black;
}

.label{
	color:white;
	font-size: 19px;
	font-weight: bold;
	text-shadow: -10px -5px 4px black;
	margin-left:15px;
}

.textbox1{
	width:300px;
}

.textbox2{
	width:300px;
	margin-left:2px;
}

.button1{
	margin-left:269px;
	background-color: white;
	font-weight: bold;
	border: 1px solid black;
	height:28px;
	margin-top:3px;
}

.button2{
	background-color: white;
	font-weight: bold;
	border: 1px solid black;
	height:28px;
	margin-top: 3px;
}

.button1:hover{
	background-color: black;
	border: 1px solid white;
	color: white;
}

.button2:hover{
	background-color: black;
	border: 1px solid white;
	color: white;
}


.paragraph{
	color:white;
	text-align: left;
	font-size:17px;
	font-weight: bold;
}

.reg{
	color: yellow;
}